# **Practice Exercises — Lists, Tuples, Dictionaries and Pandas**

Topics:
- Block 1 — Lists (creation, append, remove, indexes, slicing)
- Block 2 — Tuples
- Block 3 — Dictionaries
- Block 4 — List of Dictionaries + Pandas
- Block 5 — Integrated Challenge

---
# **Block 1 — Lists**

**Exercise 1 — Creating and manipulating lists**

Create a list called `products` with the following items:
`"Notebook"`, `"Mouse"`, `"Keyboard"`, `"Monitor"`, `"Headset"`

Then:
1. Add `"Webcam"` to the list using `append()`
2. Remove `"Mouse"` using `remove()`
3. Print the final list
4. Print the total number of items using `len()`

In [1]:
products = ["Notebook","Mouse", "Keyboard", "Monitor", "Headset"]
print("Products:", products)

Products: ['Notebook', 'Mouse', 'Keyboard', 'Monitor', 'Headset']

In [2]:
#1.Add "Webcam" to the list using append() method.
products.append("Webcam")
print("Products after adding Webcam:", products)

Products after adding Webcam: ['Notebook', 'Mouse', 'Keyboard', 'Monitor', 'Headset', 'Webcam']

In [3]:
# 2.Remove "Mouse"  using remove() method.
products.remove("Mouse")
print("Products after removing Mouse:", products)

Products after removing Mouse: ['Notebook', 'Keyboard', 'Monitor', 'Headset', 'Webcam']

In [4]:
#3. Print the final list of products.
print("Final list with all products:", products)

Final list with all products: ['Notebook', 'Keyboard', 'Monitor', 'Headset', 'Webcam']

In [5]:
#4.Print the total number of itens using len() function.

    #len function returns the number of items in a list. In this case, it will return the total number of products in the list. 
    #len counts the number of elements in the list, which is useful for determining how many products are currently in the list after adding and removing items.

print("Total number of products:", len(products))

Total number of products: 5

**Exercise 2 — Accessing by index**

Use the list below:

```python
temperatures = [22.5, 19.0, 30.1, 25.8, 18.3, 27.4, 23.9]
```

1. Print the first element
2. Print the last element using a negative index
3. Print the third element
4. Change the value of the second element to `21.0` and print the updated list

In [8]:
temperatures = [22.5, 19.0, 30.1, 25.8, 18.3, 27.4, 23.9]

#1.Print the first element of the list.

print("First element:", temperatures[0])

First element: 22.5

In [9]:
temperatures = [22.5, 19.0, 30.1, 25.8, 18.3, 27.4, 23.9]

#2. Print the last element using a negative index

print("Last element:", temperatures[-1])

Last element: 23.9

In [83]:
temperatures = [22.5, 19.0, 30.1, 25.8, 18.3, 27.4, 23.9]

#3. Print the third element of the list.

print("Third element:", temperatures[2])

Third element: 30.1

In [11]:
#4. Change the value of the second element to `21.0` and print the updated list
#the second element is at index 1, so we can assign a new value to that index.

temperatures = [22.5, 19.0, 30.1, 25.8, 18.3, 27.4, 23.9]
temperatures[1] = 21.0

print("Updated list:", temperatures)

Updated list: [22.5, 21.0, 30.1, 25.8, 18.3, 27.4, 23.9]

**Exercise 3 — Slicing**

Use the list below:

```python
grades = [7.5, 8.0, 6.5, 9.0, 5.5, 8.5, 7.0, 6.0, 9.5, 8.0]
```

1. Print the first 3 grades
2. Print the last 3 grades using a negative index
3. Print grades from position 3 up to (not including) position 6
4. Print only the grades at even positions (0, 2, 4...) using step `[::2]`

In [13]:
#1. Print the first 3 grades

grades = [7.5, 8.0, 6.5, 9.0, 5.5, 8.5, 7.0, 6.0, 9.5, 8.0]

grades[0:3]
print("First three grades:", grades[0:3])

First three grades: [7.5, 8.0, 6.5]

In [14]:
#2. Print the last 3 grades using a negative index
grades = [7.5, 8.0, 6.5, 9.0, 5.5, 8.5, 7.0, 6.0, 9.5, 8.0]
grades[-3:]

print("Last three grades:", grades[-3:])

Last three grades: [6.0, 9.5, 8.0]

In [19]:
#3. Print grades from position 3 up to (not including) position 6
grades = [7.5, 8.0, 6.5, 9.0, 5.5, 8.5, 7.0, 6.0, 9.5, 8.0]
grades[3:6]

print("Grades from position 3 to 5:", grades[3:6])

Grades from position 3 to 5: [9.0, 5.5, 8.5]

In [20]:
# 4. Print only the grades at even positions (0, 2, 4...) using step `[::2]`

grades = [7.5, 8.0, 6.5, 9.0, 5.5, 8.5, 7.0, 6.0, 9.5, 8.0]
grades[::2]

print("Grades at even positions:", grades[::2])

Grades at even positions: [7.5, 6.5, 5.5, 7.0, 9.5]

---
# **Block 2 — Tuples**

**Exercise 4 — Creating and accessing tuples**

Create a tuple called `weekdays` with the 7 days of the week in English.

1. Print the first day
2. Print the last day using a negative index
3. Print only the work days (Monday to Friday) using slicing
4. Check the variable type using `type()`

**Tip:** Tuples use `()` and cannot be changed after they are created.

In [23]:
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")

#1. Print the first day of the tuple.
print("First day:", weekdays[0])

First day: Monday

In [24]:
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")

#2. Print the last day using a negative index
print("Last day:", weekdays[-1])

Last day: Sunday

In [26]:
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")

#3. Print only the work days (Monday to Friday) using slicing.

print("Work day:", weekdays[0:5])

Work day: ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [27]:
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")

#4. Check the variable type of `weekdays` using the `type()` function.
print("Variable type of weekdays:", type(weekdays))

Variable type of weekdays: <class 'tuple'>

**Exercise 5 — Tuple vs List**

1. Create a tuple `coordinates = (-23.5505, -46.6333)` representing the latitude and longitude of São Paulo
2. Access and print each value separately using an f-string:
   `"Latitude: -23.5505 | Longitude: -46.6333"`
3. Try to change the first value of the tuple and observe the error
4. Write a comment explaining why the error occurs

In [35]:
# 1. Create a tuple `coordinates = (-23.5505, -46.6333)` representing the latitude and longitude of São Paulo, Brazil.
coordinates = (-23.5505, -46.6333)

print("Coordinates of São Paulo:", coordinates)

# 2. Print the latitude and longitude separately.
print(f"Latitude: {coordinates[0]} | Longitude: {coordinates[1]}")

# 3. Try to change the first value of the tuple and observe the error
# Uncommenting the line below will raise a TypeError: 'tuple' object does not support item assignment
# coordinates[0] = -23.0000
print("Cannot modify tuple - tuples are immutable!")

# 4. Comment explaining why the error occurs:
# Tuples are immutable, meaning their values cannot be changed after creation.
# When we try to assign a new value to a tuple element, Python raises a TypeError.
# This is different from lists, which are mutable and allow item reassignment.
# The immutability of tuples makes them useful for data that should not be modified,
# and they can also be used as dictionary keys (unlike lists)

Coordinates of São Paulo: (-23.5505, -46.6333)
Latitude: -23.5505 | Longitude: -46.6333
Cannot modify tuple - tuples are immutable!

---
# **Block 3 — Dictionaries**

**Exercise 6 — Creating and accessing dictionaries**

Create a dictionary called `product` with the following information:
- `name`: `"Dell Notebook"`
- `price`: `3599.90`
- `stock`: `15`
- `available`: `True`

Then:
1. Print the product name
2. Print the price formatted to 2 decimal places using an f-string
3. Update the stock to `10`
4. Print the complete dictionary

In [84]:
product = {
    "name": "Dell Notebook",
    "price": 3599.90,
    "stock": 15,
    "available": True
}
print(product) 

#1. Print the product name 
print(f"Product Name: {product['name']}")

#2. Print the product price to 2 decimal places using string formatting.
print(f"Product Price: ${product['price']:.2f}")

#3.Update the stock to 10
product["stock"] = 10
print(f"Updated stock: {product['stock']}")

#4.Print the complete dictionary:
print("Completed dictionary:", product)

{'name': 'Dell Notebook', 'price': 3599.9, 'stock': 15, 'available': True}
Product Name: Dell Notebook
Product Price: $3599.90
Updated stock: 10
Completed dictionary: {'name': 'Dell Notebook', 'price': 3599.9, 'stock': 10, 'available': True}

**Exercise 7 — Adding and removing keys**

Use the dictionary below:

```python
student = {
    "name": "Andriele",
    "age": 25,
    "course": "Data Analysis"
}
```

1. Add the key `"final_grade"` with value `8.7`
2. Add the key `"approved"` with value `True` (based on grade >= 7)
3. Remove the key `"age"` using `del`
4. Print the final dictionary
5. Print all keys using `.keys()` and all values using `.values()`

In [52]:
student = {
    "name": "Andriele",
    "age": 25,
    "course": "Data Analysis"
}

# 1. Add the key `"final_grade"` with value `8.7`
student['final_grade'] = 8.7
print("Updated student dictionary:", student)

#2.Add the key `"approved"` with value `True` (based on grade >= 7) 
student['approved'] = student['final_grade'] >=7
print("Student dictionary after adding approved Status:", student)

#3.Remove the key `"age"` from the dictionary using the `del` statement and print the updated dictionary.
del student['age']
print("Student dictionary after removing age:", student)

#4.Print the complete dictionary.
print("Final student dictionary:", student)

#5.Print all keys using `.keys()` and all values using `.values()`

# The .keys() method returns a view object that displays a list of all the keys in the dictionary. 
# The .values() method returns a view object that displays a list of all the values in the dictionary.  

print("Keys:", student.keys())
print("Values:", student.values())

Updated student dictionary: {'name': 'Andriele', 'age': 25, 'course': 'Data Analysis', 'final_grade': 8.7}
Student dictionary after adding approved Status: {'name': 'Andriele', 'age': 25, 'course': 'Data Analysis', 'final_grade': 8.7, 'approved': True}
Student dictionary after removing age: {'name': 'Andriele', 'course': 'Data Analysis', 'final_grade': 8.7, 'approved': True}
Final student dictionary: {'name': 'Andriele', 'course': 'Data Analysis', 'final_grade': 8.7, 'approved': True}
Keys: dict_keys(['name', 'course', 'final_grade', 'approved'])
Values: dict_values(['Andriele', 'Data Analysis', 8.7, True])

---
# **Block 4 — List of Dictionaries + Pandas**

**Exercise 8 — Creating a list of dictionaries**

Create a list called `employees` with at least 4 dictionaries, each containing:
- `"name"`: string
- `"department"`: string
- `"salary"`: float

Use any fictional data you like.

Then:
1. Print the name of the first employee: `employees[0]["name"]`
2. Print the salary of the third employee
3. Update the department of the second employee

In [59]:
# 1. Create a list of dictionaries with employee information

employees = [
    {
    "name": "Andriele Tatsch",
     "department": "Data Analysis",
      "salary": 15000.00
     },
{
    "name": "Vanesa Silva",
     "department": "Data Science",
     "salary": 10000.00
     },
       {
    "name": "James Smith",
     "department": "Data Engineering",
     "salary": 25000.00
     },
       {
    "name": "John Doe",
     "department": "Data Science",
     "salary": 12000.00
     }
]
print(employees)

[{'name': 'Andriele Tatsch', 'department': 'Data Analysis', 'salary': 15000.0}, {'name': 'Vanesa Silva', 'department': 'Data Science', 'salary': 10000.0}, {'name': 'James Smith', 'department': 'Data Engineering', 'salary': 25000.0}, {'name': 'John Doe', 'department': 'Data Science', 'salary': 12000.0}]

In [63]:
#1. Print the name of the first employee: `employees[0]["name"]`

print("First employee name:", employees[0]["name"])

First employee name: Andriele Tatsch

In [61]:
#2. Print the salary of the third employee

print("Salary of the third employee:", employees[2]["salary"])

Salary of the third employee: 25000.0

In [62]:
#3. Update the department of the second employee

employees[1]['department'] = 'Cooking'
print("Updated department second employee:", employees[1])

Updated department second employee: {'name': 'Vanesa Silva', 'department': 'Cooking', 'salary': 10000.0}

In [64]:
print(employees)

[{'name': 'Andriele Tatsch', 'department': 'Data Analysis', 'salary': 15000.0}, {'name': 'Vanesa Silva', 'department': 'Cooking', 'salary': 10000.0}, {'name': 'James Smith', 'department': 'Data Engineering', 'salary': 25000.0}, {'name': 'John Doe', 'department': 'Data Science', 'salary': 12000.0}]

**Exercise 9 — Converting to a DataFrame with Pandas**

Use the `employees` list you created in the previous exercise.

1. Import pandas as `pd`
2. Convert the list to a DataFrame: `df = pd.DataFrame(employees)`
3. Print the full DataFrame
4. Use `df.head(2)` to display only the first 2 records
5. Use `df.dtypes` to check the data type of each column

In [71]:
import pandas as pd

#2.Convert the list to a DataFrame: `df = pd.DataFrame(employees)`

df = pd.DataFrame(employees)

#3 Print the DataFrame to verify the conversion.

print(df)

#4. Use `df.head(2)` to display only the first 2 records

print(df.head(2))

#5. Use `df.dtypes` to check the data type of each column

print(df.dtypes)

              name        department   salary
0  Andriele Tatsch     Data Analysis  15000.0
1     Vanesa Silva           Cooking  10000.0
2      James Smith  Data Engineering  25000.0
3         John Doe      Data Science  12000.0
              name     department   salary
0  Andriele Tatsch  Data Analysis  15000.0
1     Vanesa Silva        Cooking  10000.0
name           object
department     object
salary        float64
dtype: object

---
# **Block 5 — Integrated Challenge**

**Exercise 10 — Movie Catalog**

Create a list of dictionaries called `movies` with at least 3 movies.

Each movie must have:
- `"title"`: string
- `"year"`: int
- `"rating"`: float (from 0 to 10)
- `"available"`: bool

Then:
1. Print the title and rating of the first movie using an f-string with 1 decimal place
2. Add a new movie to the list using `append()`
3. Convert the list to a DataFrame using pandas
4. Print the full DataFrame
5. Use `df.head(2)` to display the first 2 movies

**Expected output for step 1:**
```
Movie: Inception | Rating: 8.7
```

In [76]:
import pandas as pd

movies = [
    {
    "title": "Before and After",
     "year": 2026,
     "rating": 9,
     "available": True
    },
      {
    "title": "Storytelling with data",
     "year": 2024,
     "rating": 8,
     "available": True
    },
      {
    "title": "Naked Statistics",
     "year": 2020,
     "rating": 7,
     "available": True
    }
]
print("Movie:", movies)

Movie: [{'title': 'Before and After', 'year': 2026, 'rating': 9, 'available': True}, {'title': 'Storytelling with data', 'year': 2024, 'rating': 8, 'available': True}, {'title': 'Naked Statistics', 'year': 2020, 'rating': 7, 'available': True}]

In [82]:
#1. Print the title and rating of the first movie using an f-string with 1 decimal place
print(f"Title: {movies[0]['title']} | Rating: {movies[0]['rating']:.1f}")

Title: Before and After | Rating: 9.0

In [78]:
#2. Add a new movie to the list using `append()`
new_movie = {
    "title": "Data Science for Business",                   
    "year": 2022,
    "rating": 8.5,          
    "available": True
}
movies.append(new_movie)
print("Updated movies list:", movies)

Updated movies list: [{'title': 'Before and After', 'year': 2026, 'rating': 9, 'available': True}, {'title': 'Storytelling with data', 'year': 2024, 'rating': 8, 'available': True}, {'title': 'Naked Statistics', 'year': 2020, 'rating': 7, 'available': True}, {'title': 'Data Science for Business', 'year': 2022, 'rating': 8.5, 'available': True}]

In [79]:
#3. Convert the list to a DataFrame using pandas
df = pd.DataFrame(movies)
df

                       title  year  rating  available
0           Before and After  2026     9.0       True
1     Storytelling with data  2024     8.0       True
2           Naked Statistics  2020     7.0       True
3  Data Science for Business  2022     8.5       True

In [80]:
#4. Print the full DataFrame
print(df)

                       title  year  rating  available
0           Before and After  2026     9.0       True
1     Storytelling with data  2024     8.0       True
2           Naked Statistics  2020     7.0       True
3  Data Science for Business  2022     8.5       True

In [81]:
#5. Use `df.head(2)` to display the first 2 movies
df.head(2)

                    title  year  rating  available
0        Before and After  2026     9.0       True
1  Storytelling with data  2024     8.0       True