# **Bloco 1 — Tipos e Conversões**

Exercise 1

Crie:
- uma variável product_name
- uma variável price (float)
- uma variável quantity (int)

Calcule o valor total e imprima:
Use f-string.

In [26]:
product_name = "Laptop"
price = 999.95
quantity = 1 

print(type(product_name))
print(type(price))
print(type(quantity))   

total = price * quantity 

print("Product:", product_name)

print("Unit Price: $"f"{price:.2f}")
#or
print(f"Unit Price: ${price:.2f}")

print("Quantity:", quantity)

print("Total: $"f"{total:.2f}")
#or
print(f"Total: ${total:.2f}")

<class 'str'>
<class 'float'>
<class 'int'>
Product: Laptop
Unit Price: $999.95
Unit Price: $999.95
Quantity: 1
Total: $999.95
Total: $999.95

**Exercise 2**

Crie: 
number_string = "150"
tax_rate = 0.12

Converta number_string para inteiro.

Calcule o imposto.

Mostre o valor final com 2 casas decimais.

In [ ]:
number_string = "150"
number = int(number_string)

print(type(number_string))
print(type(number)) 

tax_rate = 0.12
tax_amount = number * tax_rate 
print(f"Tax amount: ${tax_amount:.2f}")

#or Calcule imposto  
final_amount = number + tax_amount
print(f"Final amount: ${final_amount:.2f}")

<class 'str'>
<class 'int'>
Tax amount: $14.76
Final amount: $137.76

**Exercise 3**

Crie:
a = "10"
b = 5

1.Converta a para inteiro.
2.Some com b.
3.Mostre o tipo do resultado usando type().

In [24]:
a = "10"
b = 5
aa = int(a)
print(type(aa))

result = aa +b
print(type(result))
print(result)

<class 'int'>
<class 'int'>
15

# **Bloco 2 — Boolean Logic**

**Exercise 4**

Crie:

temperature = 38.5
has_fever

A regra é:

Febre se temperatura >= 37.8

Has fever: True/False

In [37]:
temperature = 38.5
has_fever = temperature >= 37.8

print(f"Has fever: {has_fever}")

Has fever: True

**Exercise 5** 

Crie: 

username = "admin"
password = "1234"

Crie variáveis booleanas:

is_correct_user

is_correct_password

Use comparação ==.

Depois crie:

is_logged_in

In [65]:
username = "admin"
password = "1234"

is_correct_user = (username == "admin")
is_correct_password = (password == "1234")

is_logged_in = is_correct_user and is_correct_password
print(f"Logged in: {is_logged_in}")

Logged in: True

# **Bloco 3 — Formatação Avançada**

**Exercise 6**

Crie:
usd_amount = 250
exchange_rate = 4.87

Converta para reais.

Mostre:

valor em dólar
taxa com 3 casas decimais
valor final com 2 casas

Use f-string.

In [43]:
usd_amount = 250
exchange_rate = 4.87
brl_amount = usd_amount * exchange_rate

print(f"USD Amount: ${usd_amount:.3f}")
print(f"Exchange Rate: {exchange_rate:.3f}")
print(f"BRL Amount: R${brl_amount:.2f}")

USD Amount: $250.000
Exchange Rate: 4.870
BRL Amount: R$1217.50

**Exercise 7**

Refaça o exercício anterior usando:

% formatting

.format()

Você precisa praticar os três estilos

In [66]:
usd_amount = 250
exchange_rate = 4.87
brl_amount = usd_amount * exchange_rate

# Using f-strings for formatted output
print(f"USD Amount: ${usd_amount:.3f}")
print(f"Exchange Rate: {exchange_rate:.3f}")
print(f"BRL Amount: R${brl_amount:.2f}")

# Alternative string formatting using the format() method
print("USD Amount: ${:0.3f}".format(usd_amount))
print("Exchange Rate: {:0.3f}".format(exchange_rate))
print("BRL Amount: R${:0.2f}".format(brl_amount))

# Using old-style string formatting - % formatting
print("USD Amount: $%.3f" %(usd_amount))
print("Exchange Rate: %f" %(exchange_rate))
print("BRL Amount: R$%.2f" %(brl_amount))

USD Amount: $250.000
Exchange Rate: 4.870
BRL Amount: R$1217.50
USD Amount: $250.000
Exchange Rate: 4.870
BRL Amount: R$1217.50
USD Amount: $250.000
Exchange Rate: 4.870000
BRL Amount: R$1217.50

# **Bloco 4 — Mini Desafio Integrado**

**Exercise 8 — Student Report**

Crie:

- student_name
- grade1
- grade2
- grade3

Calcule a média.

Crie:

is_approved = average >= 7


Mostre relatório completo formatado.

Exemplo de saída:

Student: Maria
Average: 8.23
Approved: True

In [54]:
student_name = "Andriele Tatsch"
grade1 = 8.5
grade2 = 8.8
grade3 = 8.3

average = (grade1 + grade2 + grade3) /3

is_approved = average >= 7

print(f"Student: {student_name}, Average: {average:.2f}, Approved: {is_approved}")

Student: Andriele Tatsch, Average: 8.53, Approved: True

# **Bloco 5 — Desafio de Atenção (Erro Comum)**

**Crie:**

- price = "100"
- discount = 20

Tente subtrair desconto do preço.

Você vai perceber que dá erro.

Corrija corretamente usando conversão.

In [61]:
price = "100"
discount = 20 
price_int = int(price)

print(type(price))
print(type(price_int))

valor_desconto = price_int * (discount / 100)
print(valor_desconto)

final_price = price_int - valor_desconto 

print(f"Final price: ${final_price:.2f}")

# o erro que poderia ocerrer é o seguinte: TypeError: unsupported operand type(s) for *: 'str' and 'float', entao ja foi corrigido convertendo a string para inteiro usando int()
# da variavel price para price_int, e depois usando price_int para calcular o valor do desconto e o preço final.

<class 'str'>
<class 'int'>
20.0
Final price: $80.00